/* --------Formulaire de connexion/inscription --------*/

/* Main */
.inscription-connexion 
{
    grid-column: 1/4 ;
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
 	height: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

/* Section */
.form_container 
{
	min-width: 350px;
    max-width: 400px;
	margin: 0;
	background-color: #ebebeb;
	border-radius: 0.2em;
 	padding: 2em;
}
.form_container fieldset 
{
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 	height: 100%;
	margin: 0;
    padding: 0;
    border:none;
}

/* Legende formulaire*/
.form_container fieldset legend 
{
	margin-bottom: 1em;
}
.message, .message-erreur 
{
    display: block;
    margin-bottom: 1em;
	color: red;
	font-size: 0.81em;
	text-align: center;
}

/* Formulaires */
.form_container form p 
{
	display: flex;
    flex-direction: column;
	font-size: 0.97em;
}
.form_container form p input 
{
    display: block;
	line-height: 1em;
 	padding: 0.3em;
	color: rgba(0, 0, 0, 0.75);
	font-family: Helvetica, serif;
	border: none;
	box-shadow: inset -1px -2px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.form_container form p input:focus 
{
	box-shadow: inset -1px -2px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Bouton envoyer */
.form_container form p .button-envoyer 
{
    display: block;
	border: none;
	box-shadow: none;
	color: black;
	border-radius: 0.3em;
	height: 2.5em;
 	margin-bottom: 1em;
	margin-top: 0.5em;
	padding: 0.4em;
	background-color: #cecece;
}
.form_container form p .button-envoyer:hover 
{
	color: white;
	background-color: #595959;
	box-shadow: -0.06em -0.125em 0.125em rgba(255, 255, 255, 0.05), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.7);
}
.form_container form p .button-envoyer:focus 
{
	outline: none;
	color: white;
	background-color: #595959;
	box-shadow: -0.06em -0.125em 0.125em rgba(255, 255, 255, 0.05), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.7);
}
.form_container form p .button-envoyer:active 
{
	color: black;
	background-color: #cecece;
	opacity: 0.7;
	box-shadow: inset -0.06em -0.125em 0.125em rgba(255, 255, 255, 0.1), inset 0.125em 0.125em 0.19em rgba(0, 0, 0, 0.4);
}
.form_container form p label::after 
{
	content: "*";
	display: inline;
	line-height: 0.5em;
	color: red;
	vertical-align: top;
}
.form_container form p :nth-child(even) 
{
    display: block;
 	margin-bottom: 0.7em;
	margin-top: 0.2em;
	font-size: 1em;
}

/* * */
.form_container form p span 
{
    display: block;
	align-self: center;
	color: red;
	font-size: 0.7em !important;
 	margin: 0.5em 0 0 0 !important;
}

/* liens vers index ou accueil .. */
.form_container fieldset a 
{
    display: block;
	font-size: 0.8em;
	font-style: italic;
    text-align: center;
    margin-top:1em;
}
.form_container > fieldset > a:hover 
{
	text-decoration: underline;
}
.form_container fieldset :last-child 
{
	margin-bottom: 0;
}

   /* page connecté */
header
{
    background-color: #7f7f7f;
    /* height: 90px; */
}
h1
{
    color: #333;
}
#menu
{
    display: flex;
    justify-content: space-between;
}
#logo
{
    width: 24%;
    margin-left: 6%;
}
#connexion
{
    width: 10%;
    vertical-align: middle;
}
.co a
{
    text-decoration: none;
    color:#333;
}
.co
{
    text-align: right;
    margin-right: 2%;
}