html, body 
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
            /* --------Formulaire de connexion/inscription/modification/mp --------*/

/* Main */
.inscription-connexion 
{
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
 	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 2%;
}

/* Section */
.form_container 
{
	min-width: 350px;
    max-width: 400px;
	margin: 0;
	background-color: #ebebeb;
	border-radius: 0.2em;
 	padding: 2em;
}
.form_container fieldset 
{
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 	height: 100%;
	margin: 0;
    padding: 0;
    border:none;
}

/* Legende formulaire*/
.form_container fieldset legend 
{
	margin-bottom: 1em;
}
.message, .message-erreur 
{
    display: block;
    margin-bottom: 1em;
	color: red;
	font-size: 0.81em;
	text-align: center;
}

/* Formulaires */
.form_container form p 
{
	display: flex;
    flex-direction: column;
	font-size: 0.97em;
}
p, text, input 
{
	margin: 0;
	font-size: 1em;
}
input:focus
{
	outline:none;
}
.form_container form p input 
{
    display: block;
	line-height: 1em;
 	padding: 0.3em;
	color: rgba(0, 0, 0, 0.75);
	font-family: Helvetica, serif;
	border: none;
	box-shadow: inset -1px -2px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.form_container form p input:focus 
{
	box-shadow: inset -1px -2px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Bouton envoyer */
.form_container form p .button-envoyer 
{
    display: block;
	border: none;
	box-shadow: none;
	color: black;
	border-radius: 0.3em;
	height: 2.5em;
 	margin-bottom: 1em;
	margin-top: 0.5em;
	padding: 0.4em;
	background-color: #cecece;
}
.form_container form p .button-envoyer:hover 
{
	color: white;
	background-color: #595959;
	box-shadow: -0.06em -0.125em 0.125em rgba(255, 255, 255, 0.05), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.7);
}
.form_container form p .button-envoyer:focus 
{
	outline: none;
	color: white;
	background-color: #595959;
	box-shadow: -0.06em -0.125em 0.125em rgba(255, 255, 255, 0.05), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.7);
}
.form_container form p .button-envoyer:active 
{
	color: black;
	background-color: #cecece;
	opacity: 0.7;
	box-shadow: inset -0.06em -0.125em 0.125em rgba(255, 255, 255, 0.1), inset 0.125em 0.125em 0.19em rgba(0, 0, 0, 0.4);
}
.form_container form p label::after 
{
	content: "*";
	display: inline;
	line-height: 0.5em;
	color: red;
	vertical-align: top;
}
.form_container form p :nth-child(even) 
{
    display: block;
 	margin-bottom: 0.7em;
	margin-top: 0.2em;
	font-size: 1em;
}

/* * */
.form_container form p span 
{
    display: block;
	align-self: center;
	color: red;
	font-size: 0.7em !important;
 	margin: 0.5em 0 0 0 !important;
}

/* liens vers index ou accueil .. */
.form_container fieldset a 
{
    display: block;
	font-size: 0.8em;
	font-style: italic;
    text-align: center;
    margin-top:1em;
}
.form_container fieldset a:hover 
{
	text-decoration: underline;
}
.form_container fieldset :last-child 
{
	margin-bottom: 0;
}

             /* page connecté/ header */
header
{
	color: white;
	text-shadow: 1px 1px 2px black;
    background-color: #00000080;;
    display: flex;
    justify-content: space-between;
	width: 100%;
	position: absolute;
	z-index: 2;
}
#logo 
{
	background-color: rgba(255, 255, 255, 0.7);
    width: 24%;
    margin-left: 1em;
	margin-top: 0.2em;
	border-radius: 5px;
}

/* Profil*/
.header-profil 
{
    position: relative;
    align-self: center;
    text-align: right;
    margin: 0;
	padding: 0;
}

/* Icone profil */
.profil_nom::before 
{
	content: "";
	display: inline-block;
	vertical-align: sub;
	width: 1.8em;
	margin: 0;
	background: url(images/login.jpg) center/contain no-repeat;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 15px;

}
/* Nom Prénom */
.profil_nom 
{
	display: flex;
	cursor: pointer;
	line-height: 1.8em;
}
.profil_nom p 
{
	margin-left: 0.3em;
}
.header-profil li 
{
	list-style: none;
}
.header-profil a
{
	color: white;
    text-decoration: none;
	margin-right: 1em;
}
.header-profil a:hover
{
	text-decoration: underline;
}

/* ----- FOOTER -----*/
footer 
{
    width: 100%;
	background-color: black;
}
footer p 
{
	font-weight: 100;
	font-size: 13px;
	color: white;
	text-align: center;
	line-height: 3em;
}

     /* ---- Accueil / Connecté ----*/

/* Section Présentation GBAF */
.GBAF
{
	padding-top: 8%;
   	position: relative;
   	width: 100%;
	height: 37em;
   	background: url('images/banque.jpg') center /cover no-repeat;
	background-attachment: fixed;
}
.GBAF h1
{
	text-align: center;
	text-shadow: black 4px 0 8px;
	color: white;
	font-size: 3em;
	margin-top: 0;
}
.GBAF .text
{
	color:white;
	text-shadow: 1px 1px 2px black;
	background-color: #00000080;
	width: 95%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	border-radius: 5px;
	font-size: 1.1em;
	letter-spacing: 1px;
}
/* logo GBAF sur l'image de fond */
.GBAF-illustration img 
{
	position: absolute;
	right: 2.2em;
	bottom: 4.8em;
	width: 2%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
}
/* Section Présentation Acteurs / Partenaires */
.acteurs:before 
{
	content: "";
	display: block;
	width: 100%;
	height: 0.2em;
	background-color: rgba(0, 0, 0, 0.1);
}
.acteurs .text1 
{
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1em;
	letter-spacing: 1px;
	margin-bottom: 1%;
	background-color: rgba(0, 0, 0, 0.02);
 	padding: 1.2em;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
/* Article Liste des acteurs + navigation */
.acteurs h2
{
	font-size: 2em;	
	text-align: center;
}
.acteurs_list 
{
	font-size: 1.1em;
	letter-spacing: 1px;
	background-color: rgba(0, 0, 0, 0.02);
 	padding: 1.2em;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.acteurs_list ul 
{
	margin: 0;
	padding: 0;
}
.acteur_seul 
{
	display: grid;
	grid-template-columns: 370px 2fr 150px;
	grid-template-rows: 1fr 2em 1fr;
	grid-template-areas:
		"logo nom nom"
		"logo infos ."
		"logo infosSpan button";
	column-gap: 20px;
	align-items: center;
	height: 180px;
	padding: 0.5em;
 	margin-bottom: 1.25em;
	background-color: white;
	box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.12);
	box-sizing: content-box;
}
/* Logos Acteurs */
.acteur_seul img 
{
	width: 100%;
	height: 100%;
	grid-area: logo;
}
/* Nom Acteurs */
.acteur_seul h3 
{
	font-size: 1.3em;
	grid-area: nom;
	align-self: end;
	margin: 0;
}
/* Description Acteurs */
.acteur-seul_description 
{
	max-width: 100%;
	grid-area: infos;
	overflow: hidden;
}
/* Description Acteurs première ligne */

.acteur-seul_description ul, .acteur-seul_description p ~ p 
{
	display: none;
}
/* bouton "Lire la suite" */
.acteur_seul a 
{
    grid-area: button;
    display: block;
	justify-self: end;
	align-self: end;
	border: 0.1em solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
 	padding: 0.5em;
	margin: 0.5em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.acteur_seul a:hover 
{
	background-color: rgba(0, 0, 0, 0.767);
	color: white;
	box-shadow: none;
}
.acteur_seul a:active 
{
	background-color: black;
	color: white;
}

                               /* ------------------------------ Partenaire / Connecté------------------------------*/

/* Section infos du partenaire */
/* Logo du partenaire */
.partenaire img 
{
	padding-top: 6%;
	width: 35%;
	display: block;
	margin: auto;
}
/* titre partenaire */
.partenaire h2
{
	font-size: 2em;	
	margin-left: 1%;
}
/* Site du Partenaire */
.partenaire a 
{
	display: block;
	font-size: 0.85em;
	text-decoration: underline;
}
/* description du Partenaire */
.partenaire .text p 
{
	white-space: pre-wrap;
	font-size: 1.1em;
	letter-spacing: 1px;
	background-color: rgba(0, 0, 0, 0.02);
 	padding: 1.2em;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 1%;
}

/* Section Commentaires */
.commentaires 
{
	width: auto;
	background-color: #f1f1f1;
 	padding: 4em;
}
.commentaires_dynamic 
{
	display: grid;
	grid-template-columns: 1fr auto auto;
	column-gap: 2em;
	align-items: center;
 	margin-bottom: 2em;
}
/* Nombre de commentaire */
.commentaires_dynamic h4 
{
	font-size: 1.2em;
}
/* Nouveau commentaire */
/* boutton Nouveau commentaire */
.new_commentaire
{
	box-shadow: -1px -2px 5px rgba(255, 255, 255, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.2);
 	padding: 0.5em; 
	border-radius: 0.7em;
	background-color: white;
	cursor: pointer;
}
.new_commentaire:hover 
{
	box-shadow: inset -1px -2px 5px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.9);
}
.new_commentaire:active 
{
	box-shadow: inset -1px -2px 5px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.8);
}
/* checkbox */
.new_commentaire input 
{
	display: none;
}
/* Formulaire Nouveau commentaire popup */
.new_commentaire_formulaire 
{
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 6.6em;
	right: 0;
	width: 100%;
	/* height: calc(100% - var(--header_height)); */
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.new_commentaire_formulaire p 
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 25em;
	width: 40em;
	margin: 0;
 	padding: 2em 4em 2em 4em;
	margin-bottom: 3em;
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	z-index: 2;
	border-radius: 5px;
}
/* Boutton close */
.new_commentaire_formulaire p .close_popup 
{
	position: relative;
	align-self: flex-end;
	right: -2.5em;
	top: -1em;
	background: url(images/close-icon.png) center/contain no-repeat;
	width: 1.25em;
	height: 1.25em;
	cursor: pointer;
}
.new_commentaire_formulaire p textarea 
{
    display: block;
	padding: 0.8em;
	font-family: Helvetica, serif;
	color: rgba(0, 0, 0, 0.6);
	height: 13.5em;
	border: 0.1em solid;
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
	border: none;
}
/* Boutton envoi formulaire */
.new_commentaire_formulaire p input 
{
    align-self: flex-end;
    display: block;
 	padding: 0.2em 1em 0.2em 1em;
	cursor: pointer;
}
#popup_button:checked + .new_commentaire_formulaire 
{
	display: flex;
}
/* Vote : Like / dislike */
.commentaires_vote 
{
	display: flex;
}
/* boutons envoyer son vote */
.vote_like, .vote_dislike 
{
	display: flex;
	box-shadow: -1px -2px 5px rgba(255, 255, 255, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.2);
	background-color: white;
 	padding: 0.4em 0.3em 0.4em 0.3em;
	cursor: pointer;
}
.vote_like:hover, .vote_dislike:hover 
{
	box-shadow: inset -1px -2px 5px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.vote_like:active, .vote_dislike:active 
{
	box-shadow: inset -1px -2px 5px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.vote_like 
{
	border-top-left-radius: 0.7em;
	border-bottom-left-radius: 0.7em;
 	margin-right: 0.2em;
}
.vote_dislike 
{
	border-top-right-radius: 0.7em;
	border-bottom-right-radius: 0.7em;
}
/* Nombre de like ou dislike */
.commentaires_vote p 
{
	width: 1.25em;
	text-align: center;
	line-height: 1.25em;
}
/* icone Nbr like ou dislike */
.commentaires_vote img 
{
	width: 1.50em;
	height: 1em;
}

/* liste des commentaires */
.commentaires-list 
{
	padding: 0;
	margin: 0;
}
.commentaires-list li 
{
	box-shadow: -1px -2px 5px rgba(255, 255, 255, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	padding: 1.3em;
	margin-bottom: 1em;
	list-style: none;
	background-color: white;
}
/* Nom */
.commentaires-list li :nth-child(1) 
{
	color: DimGray;
 	margin-bottom: 0.2em;
}
/* Date */
.commentaires-list li :nth-child(2) 
{
	color: DimGray;
	font-size: 0.85em;
 	margin-bottom: 1em;
	font-family: "Roboto", sans-serif;
}
/* commentaire */
.commentaires-list li :last-child 
{
	font-family: Helvetica, serif;
	font-size: 0.85em;
	white-space: pre-wrap;
}

/* Aside retour page accueil*/
.retour-accueil a 
{
	display: block;
	width: 100%;
 	margin-top: 3em;
	margin-bottom: 3em;
	text-align: right;
	font-size: 0.85em;
	text-decoration: underline;
}